body{
  font: 20px, Arial, sans-serif;
}
.navbar{
  background-color: pink;
}

.quem-somos{
  background-color: gray;
  color: white;
}

.margin{
  padding-bottom: 50px;
  padding-top: 10px;
}

.odiadores{
  background-color: black;
  color: white;
}

.bg-footer{
  background-color: black;
  color: white;
}
